<div>
  <p-table [value]="listOfPatients">
    <ng-template pTemplate="header">
      <tr>
          <th *ngFor="let col of patientListCols">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-patient>
    <tr>
      <ng-container *ngFor="let col of patientListCols" [ngSwitch]="true">
        <td *ngSwitchCase="col.field === 'arrival_time'">
          {{ patient[col.field] | date: 'HH:mm (dd/MM/YYYY)' }}
        </td>
        <td *ngSwitchDefault>
          {{patient[col.field]}}
        </td>
      </ng-container>
    </tr>
</ng-template>
</p-table>

</div>
