<div class="title">
  <h1>LISTADO DE PACIENTES</h1>
</div>

<div >
  <p-listbox [options]="patientList" [(ngModel)]="selectedPatient" [listStyle]="{'max-height':'250px'}" optionLabel="name">
    <ng-template let-patient pTemplate="item">
      <div class="patient-item">
          <div>{{patient.surname}}, {{patient.name}}</div>
      </div>
  </ng-template>
  </p-listbox>
</div>
<br/>
<div class="generateButtonDiv">
  <button pButton pRipple type="button" label="*Generar paciente*" class="p-button-secondary p-button-rounded" (click)="getSinglePatient()"></button>
</div>

<div class="startButtonDiv" *ngIf="selectedPatient !== null">
  <button pButton pRipple type="button" label="COMENZAR TRIAJE" class="p-button-rounded" style="width: 300px; height: 60px; font-size: 24px;" (click)="openTriajeModal(); maximizeDialog(triajeDialog)"></button>
</div>


<p-dialog #triajeDialog  [(visible)]="displayTriaje" [modal]="true" [style]="{width: '50vw'}" [closable]="false" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <triaje-form [patient]="selectedPatient"></triaje-form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-sign-out" (click)="displayMaximizable=false" label="Salir del Triaje" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
