<div class="container">
  <div class="row loginRow">
    <!-- <img [src]="https://ibb.co/ydVg8r1" width="500" height="600"> -->
    <div class="col-sm-5">
      <p-card class="loginCard">
        <div class="row loginHeader">
          <div>
            <h3 class="loginTittle">Iniciar Sesión</h3>
            <p>Te ayudamos a ayudar.</p>
          </div>
        </div>
        <div class="row formRow">
          <form role="form" #loginForm="ngForm">
            <span class="p-float-label" style="margin-top: 10px; margin-bottom: 10px;">
              <input class="inputLogin"
                id="float-input"
                type="text"
                pInputText
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="user.nick"
              />
              <label for="float-input">Usuario*</label>
            </span>
            <p-password
              [(ngModel)]="passwordInput"
              placeholder="Contraseña*"
              [ngModelOptions]="{ standalone: true }"
              [toggleMask]="true"
              [feedback]="false"
            ></p-password>
          </form>
        </div>

        <ng-template pTemplate="footer">
          <div class="row" style="justify-content: center;">
            <button
            pButton
            pRipple
            type="button"
            label="Log-in"
            class="p-button-rounded"
            style="width: 300px; height: 60px; font-size: 24px"
            (click)="logIn(loginForm)"
            ></button>
          </div>
        </ng-template>
        <div></div>
        <p-messages *ngIf="error.length > 0" severity="error">
          <ng-template pTemplate>
            <div class="p-ml-2" style="font-size: small;">{{ error }}</div>
          </ng-template>
        </p-messages>
      </p-card>
    </div>
  </div>
</div>
