<div class="header">
  <div>
    <h3 *ngIf="patient !== null">{{ patient.surname }}, {{ patient.name }}</h3>
  </div>
  <div>
    <p-button
      icon="pi pi-exclamation-triangle"
      label="TRIAJE COVID"
      styleClass="p-button-danger p-button-text"
    ></p-button>
  </div>
</div>

<div class="quickQuestions">
  <div>
    <h1>{{ questions[step].question }}</h1>
  </div>
  <div class="answerContainer">
    <ng-container *ngFor="let option of questions[step].options">
      <div class="answer">
        <button
          pButton
          pRipple
          type="button"
          label="{{ option.label }}"
          (click)="nextStep(option.value)"
          class="p-button-outlined"
        ></button>
      </div>
    </ng-container>
  </div>
  <div style="align-self: flex-start;">
    <button pButton pRipple type="button"  (click)="previousStep()" class="p-button-outlined" icon="pi pi-arrow-left">
    </button>
  </div>
</div>
