/* .header{
  display: flex;
  justify-content: space-between;
} */

.quickQuestions{
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answerContainer{
  width:80%;
  display: flex;
  justify-content: space-around;
}

.answer{
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* .variablesForm{
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
} */

.variablesFormRow{
  justify-content: space-around;
}
.variablesFormCol{
  margin: 5px;
  padding: 0% !important;
}
.evaScaleLabel{
  margin: 0px;
}

.buttonRow{
  justify-content: center;
}

.finalResponsenCol{
  text-align: center;
}

.answer button{
  width: 100%;
  height: 100%;
  padding: 20px;
}

.body{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

